<%= form_with(model: [@assessment, question]) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content">
        <%= form.label :statement, style: "display: block" %>&nbsp;
        <%= form.text_field :statement %>
      </div>
    </div>
    <div class="card-body">
      <%= form.fields_for :answers do |answer_fields| %>
        <div class="field">
          <%= answer_fields.hidden_field :id %>
          <%= answer_fields.label :option, "Option" %>
          <%= answer_fields.text_field :option %>
          <%= answer_fields.label :correct, "Correct?" %>
          <%= answer_fields.check_box :correct %>
        </div>
      <% end %>
      <br>
      <div>
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
