<div id="<%= dom_id assessment %>">
  <p>
    <strong>Title:</strong>
    <%= assessment.title %>
  </p>

  <p>
    <strong>Starting time:</strong>
    <%= assessment.starting_time %>
  </p>

  <p>
    <strong>Ending time:</strong>
    <%= assessment.ending_time %>
  </p>

  <p>
    <strong>Candidate selection:</strong>
    <%= assessment.candidate_selection %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= assessment.job_id %>
  </p>

</div>
