<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= job.overview %>
  </p>

  <p>
    <strong>Responsibilities:</strong>
    <%= job.responsibilities %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= job.requirements %>
  </p>

  <p>
    <strong>Benifits:</strong>
    <%= job.benifits %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= job.deadline %>
  </p>

  <p>
    <strong>Salary range:</strong>
    <%= job.salary_range %>
  </p>

</div>
