<div id="<%= dom_id job %>">
  <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <%= job.title %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Overview</label>
        <div class="col-sm-10">
          <%= job.overview %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Responsibilities</label>
        <div class="col-sm-10">
          <%= job.responsibilities %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Requirements</label>
        <div class="col-sm-10">
          <%= job.requirements %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Benefits</label>
        <div class="col-sm-10">
          <%= job.benifits %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
          <%= job.location %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Salary Range</label>
        <div class="col-sm-10">
          <%= job.salary_range %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Deadline</label>
        <div class="col-sm-10">
          <%= job.deadline %>
        </div>
      </div>
      <br>
    </div>
</div>
