<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= company.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= company.phone %>
  </p>

  <p>
    <strong>Registration no:</strong>
    <%= company.registration_number %>
  </p>

</div>
